.version.end /* version checker */
{
	color: #000005;
	background-color: #2F001E;
}

.html
{
	background: #FFFFFF url("../images/maryflauge_white.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1267.9500000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 189px;
}

#u1939
{
	z-index: 52;
	height: 158px;
	top: -11px;
}

#u1939-bw
{
	z-index: 52;
}

#u1940
{
	z-index: 53;
	width: 100px;
	height: 100px;
	top: 18px;
	left: 50%;
	margin-left: -423px;
}

#u1941-4
{
	z-index: 54;
	top: 40px;
	left: 50%;
	margin-left: -299px;
}

#u1942-4
{
	z-index: 58;
	top: 85px;
	left: 50%;
	margin-left: -299px;
}

#u1814-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-left: 239px;
	position: relative;
}

#u1815-4
{
	z-index: 44;
	width: 829px;
	min-height: 90px;
	background-color: #FFFFFF;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	line-height: 19px;
	font-size: 16px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 66px;
	margin-top: 26px;
	position: relative;
}

#u1815-2
{
	padding: 8px;
}

#u1816-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-top: 467px;
	position: relative;
}

#widgetu1584
{
	z-index: 2;
	width: 0.01px;
	height: 377px;
	margin-top: 7px;
	position: relative;
}

#widgetu1599
{
	z-index: 3;
	width: 207px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 520px;
}

#widgetu1599.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 145px -10000px 0px 0px;
}

#u1602-3
{
	z-index: 4;
	width: 195px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD70D;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	padding: 6px;
	line-height: 13px;
	font-size: 13px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu1599.non-empty-st #u1602-3
{
	background-color: #FFFFFF;
}

#widgetu1599:hover #u1602-3
{
	border-style: none;
	border-color: transparent;
	background-color: #8BD0E8;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1599.fld-err-st #u1602-3
{
	border-color: #D7244C;
	background-color: #FF0000;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1599.non-empty-st #u1602-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1599:hover #u1602-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1599_input
{
	width: 195px;
	min-height: 24px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-size: 13px;
	padding: 6px;
}

#u1585-4
{
	z-index: 7;
	width: 308px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #C03B00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 347px;
	left: 283px;
}

#widgetu1584.frm-sub-st #u1585-4 p
{
	color: #000000;
	text-align: center;
	font-size: 14px;
	line-height: 1;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u1586-4
{
	z-index: 11;
	width: 308px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #C03B00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 347px;
	left: 283px;
}

#widgetu1584.frm-subm-err-st #u1586-4 p
{
	color: #D7244C;
	text-align: center;
	font-size: 14px;
	line-height: 1;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u1604-4
{
	z-index: 15;
	width: 308px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #C03B00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 347px;
	left: 283px;
}

#widgetu1584.frm-sub-st #u1585-4,#widgetu1584.frm-subm-err-st #u1586-4,#widgetu1584.frm-subm-ok-st #u1604-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1584.frm-subm-ok-st #u1604-4 p
{
	color: #009245;
	text-align: center;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u1603-17
{
	z-index: 19;
	min-height: 60px;
	width: 308px;
	position: relative;
	margin-right: -10000px;
	margin-top: 317px;
	left: 326px;
	background: url("../images/u1603-17.png") no-repeat 0px 0px;
}

#u1603-17:hover
{
	background: url("../images/u1603-17-r.png") no-repeat 0px 0px;
}

#u1603-17:active
{
	background: url("../images/u1603-17-m.png") no-repeat 0px 0px;
}

#widgetu1584.frm-sub-st #u1603-17
{
	background: url("../images/u1603-17-fs.png") no-repeat 0px 0px;
}

#widgetu1591
{
	z-index: 36;
	width: 960px;
	height: 290px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu1591.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1593-3
{
	z-index: 37;
	width: 948px;
	min-height: 278px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD70D;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	padding: 6px;
	line-height: 13px;
	font-size: 13px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu1591.non-empty-st #u1593-3
{
	background-color: #FFFFFF;
}

#widgetu1591:hover #u1593-3
{
	border-style: none;
	border-color: transparent;
	background-color: #8BD0E8;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 278px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1591.fld-err-st #u1593-3
{
	border-color: #D7244C;
	background-color: #FF0000;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 278px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1591.non-empty-st #u1593-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1591:hover #u1593-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1599.fld-err-st #u1602-3 *,#widgetu1591.fld-err-st #u1593-3 *
{
	color: #FFFFFF;
	font-style: italic;
}

#widgetu1591_input
{
	width: 948px;
	min-height: 278px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-size: 13px;
	padding: 6px;
}

#widgetu1599:hover #widgetu1599_input,#widgetu1599.fld-err-st #widgetu1599_input,#widgetu1591:hover #widgetu1591_input,#widgetu1591.fld-err-st #widgetu1591_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 55px;
}

#page .verticalspacer
{
	clear: both;
}

