.version.untitled_16 /* version checker */
{
	color: #0000E9;
	background-color: #940235;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/maryflauge_white.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.7212025316455px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 21px;
}

#u3356
{
	z-index: 23;
	padding-bottom: 3px;
}

#u4113
{
	z-index: 24;
	width: 74px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u3512-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 105px;
}

#u3356-bw
{
	z-index: 23;
	height: 68px;
}

#u3602-4
{
	z-index: 2;
	width: 206px;
	min-height: 39px;
	background-color: #FFFFFF;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	line-height: 13px;
	font-size: 11px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 87px;
	margin-top: 28px;
	position: relative;
}

#u3602-2
{
	padding: 5px;
}

#u3603
{
	z-index: 6;
	width: 720px;
	min-height: 196px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -170px;
	margin-top: 5px;
	position: relative;
}

#u3605-7
{
	z-index: 7;
	width: 367px;
	min-height: 24px;
	background-color: #FFFFFF;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 6px;
	margin-top: 6px;
	position: relative;
}

#u3605-5
{
	padding: 3px;
}

#u3605-2
{
	color: #C62D33;
}

#pu3677-5
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 21px;
}

#u3677-5
{
	z-index: 18;
	position: relative;
	width: 100px;
	margin-right: -10000px;
}

#u3676-4
{
	z-index: 14;
	position: relative;
	width: 100px;
	margin-right: -10000px;
	left: 249px;
}

#u3677-5_img,#u3676-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

