.version.cases /* version checker */
{
	color: #00000B;
	background-color: #CE6731;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background: #FFFFFF url("../../images/maryflauge_white.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 974.9px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 49.10000000000002px;
}

#pu3717
{
	width: 0.01px;
}

#u3717
{
	z-index: 2;
	padding-bottom: 6px;
}

#u4095
{
	z-index: 27;
	width: 119px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 32px;
}

#u4095_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u3718-4
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 32px;
	left: 166px;
}

#u3717-bw
{
	z-index: 2;
	height: 122px;
}

#u3719-4
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 64px;
	left: 166px;
}

#pu4092-4
{
	width: 0.01px;
	margin-left: 173px;
	margin-top: 230px;
}

#u4092-4
{
	z-index: 41;
	width: 196px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD70D;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	font-size: 28px;
	color: #C62D33;
	line-height: 34px;
	letter-spacing: 1px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u4090-4
{
	z-index: 33;
	width: 198px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD70D;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	font-size: 28px;
	color: #C62D33;
	line-height: 34px;
	letter-spacing: 1px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 229px;
}

#pu4091-4
{
	width: 0.01px;
	margin-left: 101px;
	margin-top: 37px;
}

#u4091-4
{
	z-index: 37;
	width: 170px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD70D;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	line-height: 34px;
	font-size: 28px;
	letter-spacing: 1px;
	color: #C62D33;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
}

#u3735-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u4093-4
{
	z-index: 45;
	width: 167px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD70D;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	line-height: 34px;
	font-size: 28px;
	letter-spacing: 1px;
	color: #C62D33;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 400px;
}

#u4094-4
{
	z-index: 49;
	width: 208px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD70D;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	font-size: 28px;
	color: #C62D33;
	line-height: 34px;
	letter-spacing: 1px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	margin-left: 280px;
	margin-top: 27px;
	position: relative;
}

#u4092-2,#u4090-2,#u4091-2,#u4093-2,#u4094-2
{
	padding: 3px;
}

#ppu3736-4
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 250px;
}

#pu3736-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 537px;
}

#u3736-4
{
	z-index: 11;
	position: relative;
	width: 100px;
	margin-right: -10000px;
}

#u3802-4
{
	z-index: 19;
	position: relative;
	width: 100px;
	margin-right: -10000px;
}

#u3737-4
{
	z-index: 15;
	position: relative;
	width: 100px;
	margin-right: -10000px;
}

#u3803-4
{
	z-index: 23;
	position: relative;
	width: 100px;
	margin-right: -10000px;
}

#u3736-4_img,#u3802-4_img,#u3737-4_img,#u3803-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

