.version.end /* version checker */
{
	color: #000006;
	background-color: #D7F758;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background: #FFFFFF url("../../images/maryflauge_white.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 972.9px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 51.10000000000002px;
}

#pu3717
{
	width: 0.01px;
}

#u3717
{
	z-index: 2;
	padding-bottom: 6px;
}

#u4095
{
	z-index: 19;
	width: 119px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 32px;
}

#u4095_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u3718-4
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 32px;
	left: 166px;
}

#u3717-bw
{
	z-index: 2;
	height: 122px;
}

#u3719-4
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 64px;
	left: 166px;
}

#u3974-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	margin-left: 195px;
	margin-top: 44px;
	position: relative;
}

#u3973-4
{
	z-index: 11;
	margin-left: 334px;
	margin-top: 714px;
	position: relative;
}

#u3973-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

