#u3717
{
	border-color: #000000;
	background-color: #FFFFFF;
}

#u4095
{
	background-color: transparent;
	position: relative;
}

#u3718-4,#u3719-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

